.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  
      section {
          border: 1px solid black;
          box-shadow: 5px 10px 8px black;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          text-align: center;
          width: 80%;
          max-width: 500px;
          height: 500px;
          padding: 5px 15px;
          border-radius: 10px;
          background-color: white;
          
      }
}


