.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;
    position: relative;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    section {
        border: 1px solid black;
        box-shadow: 5px 10px 8px black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        width: 80%;
        max-width: 500px;
        height: 170px;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        p{
            width: 169px;
            display: flex;
            justify-content: space-between;
        }
    }    
}